@model KeyValuePair<TrackedTask,TurnCount>
@{
    var task = Model.Key;
    var count = Model.Value;
}

<tr class="task-row @(task.Overdue ? "danger" : "")">
    <td>@task.Name</td>
    <td>@task.TeamBased</td>
    <td>@(task.Period == 0m ? "Non-Periodic" : $"{task.Period} {task.Unit}")</td>
    <td>
        @if (!task.TeamBased)
        {
            @(count?.DisplayName ?? count?.UserName ?? "")
        }
    </td>
    <td>
        @if (task.Overdue)
        {
            <strong>@task.DueTimeSpan.ToString(@"hh\:mm\:ss") overdue</strong>
        }
        else
        {
            <span>@task.DueTimeSpan.ToString(@"hh\:mm\:ss")</span>
        }
    </td>
    <td><a class="btn btn-default btn-xs details-btn" asp-controller="Task" asp-action="Details" asp-route-id="@task.Id">Details</a></td>
</tr>