@model Turn
<tr>
    <td>@Model.Id</td>
    <td>@Model.User.UserName</td>
    <td>@Model.Taken.ToOffset(ViewBag.TimezoneOffset)</td>
    <td>@Model.Modified.ToOffset(ViewBag.TimezoneOffset)</td>
    <td>@Model.Created.ToOffset(ViewBag.TimezoneOffset)</td>
    @if (User.Identity.IsAuthenticated)
    {
        <td>
            <form asp-action="DeleteTurn" asp-antiforgery="true" method="post">
                <input name="id" type="hidden" value="@Model.Id"/>
                <input class="btn btn-xs btn-danger" type="submit" value="&times;"/>
            </form>
        </td>
    }
</tr>