@model TrackedTask

<h1>@Model.Name</h1>
<div>@(Model.TeamBased ? "Team" : "Individual") Based</div>
<div>
    @if (Model.Period == 0m)
    {
        <span>Non-Periodic</span>
    }
    else
    {
        <span>@Model.Period @Model.Unit</span>
    }
</div>
<div>
    <span>Modified </span>
    <span>@Model.Modified.ToLocalTime()</span>
    <span> - </span>
    <span>Created </span>
    <span>@Model.Created.ToLocalTime()</span>
</div>
<h4>Turns</h4>
<table>
    @foreach (var turn in Model.Turns ?? new List<Turn>())
    {
        <tr>
            <td>@turn.Id</td>
            <td>@turn.Taken.ToLocalTime()</td>
            <td>@turn.Modified.ToLocalTime()</td>
            <td>@turn.Created.ToLocalTime()</td>
        </tr>
    }
</table>
<div>
    <a asp-action="TakeTurn" asp-route-id="@Model.Id">Take Turn</a>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <span> - </span>
    <a asp-action="Index">Home</a>
</p>