@using System.Threading.Tasks
@using TurnTrackerAspNetCore.Middleware
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model TaskDetailsViewModel
@{
    ViewBag.Title = "Details";
    string cookie;
    if (!HttpContextAccessor.HttpContext.Request.Cookies.TryGetValue(TimezoneOffsetReader.CookieKey, out cookie))
    {
        cookie = "0";
    }
    int minutes;
    int.TryParse(cookie, out minutes);
    var timezoneOffset = TimeSpan.FromMinutes(-minutes);
    ViewBag.TimezoneOffset = timezoneOffset;
}
@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>@Model.Error
    </div>
}
<h1>@Model.Task.Name</h1>
<div class="row">
    <div class="col-sm-6">
        @*<div>@(Model.Task.TeamBased ? "Team" : "Individual") Based</div>*@
        <div><label>Owner</label><span> @(Model.Task.User.DisplayName ?? Model.Task.User.UserName)</span></div>
        <div>
            @if (Model.Task.Period == 0m)
            {
                <span>Non-Periodic</span>
            }
            else
            {
                <span>@Model.Task.Period @Model.Task.Unit</span>
            }
        </div>
        <div><label>Modified</label><span> @Model.Task.Modified.ToOffset(timezoneOffset)</span></div>
        <div><label>Created</label><span> @Model.Task.Created.ToOffset(timezoneOffset)</span></div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="action-group">
                @if (Model.CanTakeTurn)
                {
                <form asp-route-id="@Model.Task.Id" asp-antiforgery="true" asp-controller="Turn" asp-action="Take" method="post">
                    <input class="btn btn-primary" type="submit" value="Take Turn"/>
                </form>
                }
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Task.Id">Edit</a>
                <form asp-route-id="@Model.Task.Id" asp-antiforgery="true" asp-controller="Task" asp-action="Delete" method="post">
                    <input class="btn btn-danger" type="submit" value="Delete" />
                </form>
            </div>
        }
    </div>
    <div class="col-sm-6">
        <h4>Participants</h4>
        @if ((Model.Counts?.Count ?? 0) == 0)
        {
            <p>No participants</p>
        }
        else
        {
            <table class="table table-condensed table-striped participants">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Turns</th>
                    <th>Todo</th>
                </tr>
                </thead>
                @{
                    var firstRow = Model.Counts.First();
                }
                <tr class="danger">
                    <td>@firstRow.Name</td>
                    <td>@firstRow.TotalTurns</td>
                    <td>@(Model.MaxTurns - firstRow.TotalTurns)</td>
                </tr>
                @foreach (var row in Model.Counts.Skip(1))
                {
                    <tr>
                        <td>@row.Name</td>
                        <td>@row.TotalTurns</td>
                        <td>@(Model.MaxTurns - row.TotalTurns)</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
<h4>Turns</h4>
@if ((Model.Task.Turns?.Count ?? 0) == 0)
{
    <p>No turns</p>
}
else
{
    <table class="table table-condensed table-hover table-striped">
        <thead>
        <tr>
            <th>User</th>
            <th>Taken</th>
            <th>Modified</th>
            <th>Created</th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>Actions</th>
            }
        </tr>
        </thead>
        @foreach (var turn in Model.Task.Turns)
        {
            @Html.Partial("_Turn", turn)
        }
    </table>
}

@section footer {
    <span class="timezone">UTC Offset: @timezoneOffset</span>
}