@model EditTaskViewModel
@{
    ViewBag.Title = "Edit Task";
    var label = "contro-label col-sm-2";
    var submit = "col-sm-offset-2";
}
<div>
    <h1>Edit Task</h1>
    <form method="post" asp-action="Edit" asp-antiforgery="true" class="form-horizontal">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Name" class="@label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Owner" class="@label"></label>
            <div class="col-sm-3">
                <select asp-for="Owner" asp-items="@Model.Users" class="form-control"></select>
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="TeamBased" class="@label"></label>
            <div class="col-sm-1">
                <input asp-for="TeamBased" class="form-control pull-left"/>
                <span asp-validation-for="TeamBased"></span>
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="Period" class="@label"></label>
            <div class="col-sm-2">
                <input asp-for="Period" class="form-control"/>
                <span asp-validation-for="Period"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Unit" class="@label"></label>
            <div class="col-sm-2">
                <select asp-for="Unit" asp-items="@Html.GetEnumSelectList(typeof(PeriodUnit))" class="form-control"></select>
                <span asp-validation-for="Unit"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Participants" class="@label"></label>
            <div class="col-sm-4">
                <select asp-for="Participants" multiple class="form-control" asp-items="@Model.Users"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 @submit">
                <input class="btn btn-primary" type="submit" value="Save"/>
                <a class="btn btn-danger" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
            </div>
        </div>
    </form>
</div>